<ion-view view-title="Search Friends">

  <div class="bar bar-stable bar-subheader item-input-inset filter-friend">
    <label class="item-input-wrapper filter-friend">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="filter by friends" ng-click="onClickFilter(); showTab=true;" ng-model="keyword" ng-enter="onEnter(); showTab=false;">
    </label>
    <button class="button button-clear filter-friend ng-hide" ng-show="showFilterCancel" ng-click="onClickCancel()">
      Cancel
    </button>
  </div>
  <ion-content has-bouncing="true" ng-class="{'has-footer': footerVisibility == 'visible', 'has-subheader': true, 'friend-search': true}">
  <div class="assertive text-center" ng-show="searchError">{{searchError}}</div>

    <div ng-show="showTab">
      <div style="text-align: center">
        <span style="color: #919296">by</span>
      </div>

      <div class="tab-bar-wrapper">
        <div class="tab-bar">

          <div class="tab-button tab-left" ng-click="selectedTab='username'" ng-class="{selected: selectedTab=='username'}">
            username
          </div>

          <div class="tab-button tab-right" ng-click="selectedTab='name'" ng-class="{selected: selectedTab=='name'}">
            name
          </div>

        </div>
      </div>
    </div>

    <!-- friend list -->
    <ion-list class="friends-search-list" ng-if="! showTab">

      <!-- friend list page in group -->
      <ion-item class="item-avatar" ng-repeat="friend in friends">
        <img ng-src="{{friend.avatar_image}}">

        <span class="friend-name">{{friend.name}}</span><br/>

        <ul class="rating">
          <li ng-repeat="r in maxStars track by $index">
            <i class="icon" ng-class="$index < friend.stars && ('ion-ios7-star rating-star-yellow') || ('ion-ios7-star rating-star-gray')">
            </i>
          </li>
        </ul>

        <span class="item-note">
          <span ng-click="onAdd(friend.member_id)" ng-if="friend.is_friend == 0 && !isRequested(friend.member_id)">
            <img src="img/icon/friend-icons/plus18@2x.png" class="friends-search-add-img">
            <span style="margin-right: 30px; vertical-align:super;">Add Friend</span>
          </span>

          <span style="margin-right: 30px" ng-if="friend.is_friend == 1">Already is your friend</span>
          <span style="margin-right: 30px" ng-if="friend.is_friend == 0 && isRequested(friend.member_id)">Awaiting confirmation</span>

        </span>
      </ion-item>

    </ion-list>

  </ion-content>

  <!-- footer -->
  <div class="bar bar-footer bar-light" ng-show="footerVisibility == 'visible'">
    <button class="button button-clear button-prev ng-hide" ng-show="prevVisibility == 'visible'" ng-click="onPrev()">Prev</button>

    <div class="title">
      <span class="page-prev" ng-show="prevVisibility == 'visible'">{{page_num-1}}</span>
      <span class="page-cur">{{page_num}}</span>
      <span class="page-next" ng-show="nextVisibility == 'visible'">{{page_num+1}}</span>
    </div>

    <button class="button button-clear pull-right button-next ng-hide" ng-show="nextVisibility == 'visible'" ng-click="onNext()">Next</button>
  </div>

</ion-view>
