<ion-view hide-back-button="true" hide-nav-bar="true" cache-view="false">
    <ion-content class="login-bg-custom loading-type-custom-logo" ng-style="loadingBG">
        <!-- Logo image -->
        <div class="login-logo">
            <img src="img/login/logo-for-login-crop@2x~ipad.png">
        </div>
        <div class="loading-custom">
            <div class="row padding-0">
                <div class="col col-center padding-0">
                    <!-- Avatar -->
                    <div class="loading-avatar">
                        <img ng-src="{{loading.avatarURL}}">
                    </div>
                </div>
                <div class="col padding-0">
                    <div style="margin-left: -40px;">
                        <!-- Network Title -->
                        <div class="loading-network-title">
                            <h3>Social Network of</h3>
                            <h3>{{loading.nameText}}</h3>
                        </div>
                        <!-- Loading custon text -->
                        <div class="loading-custom-title">
                            <h3>{{loading.loadingText}}</h3>
                        </div>
                        <!-- Loading custom logo -->
                        <div class="loading-logo">
                            <img ng-src="{{loading.logoURL}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'templates/login-form.html'"></div>
    </ion-content>
</ion-view>